.main-search {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    height: 51px;
}

.main-search-input {
    display: block;
    border: 1px solid var(--main-color);
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    padding: 15px 25px;
    width: 500px;
    font-weight: 500;
    color: var(--main-color);
    height: 51px;
}

.main-search-select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid var(--main-color);
    border-left: none;
    background: #fff;
    padding: 15px 10px;
    width: 200px;
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    cursor: pointer;
    height: 51px;
}

.main-search-button {
    width: 200px;
    background: var(--main-color-second);
    border-radius: 0 6px 6px 0;
    border: none;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    height: 51px;
}

.main-search-button:hover {
    background: var(--main-color-second-hover);
}

@media (max-width: 1300px) {
    .main-search-input {
        width: 350px;
    }

    .main-search-select {
        width: 190px;
    }

    .main-search-button {
        width: 140px;
    }
}
