.navsettings-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    border-radius: 10px;
    padding: 25px 40px;
    border: none;
    text-align: left;
    background: #fff;
    transition: all 0.3s ease;
}

.navsettings-button.active {
    background: var(--main-color-active);
}

.navsettings-left svg {
    color: var(--navigator-noactive);
    transition: all 0.3s ease;
}

.navsettings-left.active svg {
    color: var(--main-color-second);
}

.navsettings-left {
    display: flex;
    align-items: center;
}

.navsettings-info {
    transition: all 0.3s ease;
    margin-left: 25px;
    align-items: center;
}

.navsettings-info span {
    display: block;
    color: var(--navigator-noactive);
}

.navsettings-info.active span {
    color: var(--main-color-second);
}

.navsettings-info span:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
}

.navsettings-info span:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
}
