.error-block {
    text-align: center;
}

.number {
    background: #fff;
    font-size: 30vmin;
    font-weight: 900;
    letter-spacing: 5vmin;
    text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414,
        10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
}
.text {
    background: #fff;
    font-size: 5vmin;
    font-weight: 400;
    letter-spacing: 2vmin;
    text-shadow: 0px -0.5px 0 #000, 1px -1px 0 #0a0a0a, 1.5px -1.5px 0 #0f0f0f, 2px -2px 0 #141414,
        2.5px -2.5px 0 #1a1a1a, 3px -3px 0 #1f1f1f, 3.5px -3.5px 0 #242424, 4px -4px 0 #292929;
}
