.user-page {
    display: flex;
    margin-bottom: 50px;
}

.user-left {
    width: 225px;
}

.user-image {
    width: 225px;
    height: 225px;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #eee;
    object-fit: cover;
}

.user-right {
    position: relative;
    margin-left: 50px;
    max-width: 1010px;
}

@media (max-width: 1500px) {
    .user-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .user-page {
        display: block;
    }

    .user-left {
        margin: 0 auto;
    }

    .user-right {
        margin: 25px auto;
    }
}
