.main-container {
    padding-top: 100px;
    position: relative;
    margin: 0 0 0 200px;
    min-height: 100vh;
}

@media (max-width: 1700px) {
    .main-container {
        margin: 0 0 0 150px;
    }
}

@media (max-width: 1650px) {
    .main-container {
        margin: 0 0 0 100px;
    }
}

@media (max-width: 1600px) {
    .main-container {
        margin: 0 0 0 50px;
    }
}

@media (max-width: 1500px) {
    .main-container {
        margin: 0 0 0 50px;
    }
}

@media (max-width: 1400px) {
    .main-container {
        margin: 0;
    }
}
