.enemymessage-block {
    margin-right: auto;
    margin-left: 10px;
    max-width: 400px;
    min-width: 150px;
    margin: 10px auto 10px 10px;
}

.enemymessage-block-main {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.enemymessage-text {
    left: 0;
    padding: 10px 15px;
    border: 1px solid #ececec;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
    border-radius: 12px 12px 12px 0px;
    background: #3674ff;
    font-size: 14px;
    font-weight: 600;
    max-width: 400px;
    min-width: 150px;
    word-wrap: break-word;
    color: #fff;
}

.enemymessage-date {
    left: 0;
    max-width: 400px;
    min-width: 150px;
    text-align: left;
    color: #b1b1b1;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}
